* {
    padding: 0;
    margin: 0;
    font-family: Ubuntu;
}  

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #fff;
    justify-content: space-between;
}

header nav {
    margin-right: 20px; 
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: bold;
    margin-right: 40px;
}

header img {
    width: 100px;
    height: 80px;
    margin-left: 20px;
}

hr {
    border: none;
    border-top: 2px solid #000;
    
}


.hero {
    display: flex;
    justify-content: space-between; /* Ensures items are on left and right */
    align-items: center; /* Centers content vertically */
    padding: 40px 80px; /* Adjust padding as needed */
    height: 30vh; /* Adjust height based on your needs */
}

.content {
    max-width: 50%; /* Ensures the content doesn't take full width */
}

h1 {
    font-size: 48px; /* Adjust to match design */
    font-weight: bold;
    color: #1a1a1a; /* Black color for the title */
    margin-bottom: 50px; /* Space between title and button */
}

.cta-button {
    padding: 10px 20px;
    background-color: #ffffff; /* Button background */
    color: #000000; /* Button text color */
    border: 2px solid #000000; /* Border around button */
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease; /* Animation for hover effect */
}


.description {
    max-width: 40%;
    text-align: right; 
}

.description p {
    font-size: 18px; 
    font-weight: bold;
    line-height: 1.6;
}

.cta-button a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #f9f9f9;
}

.footer-column {
    flex: 1;
    margin-left: 50px;
}

.footer-column h3 {
    font-size: 1.2rem;
    color: #1a1a1a;
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: bold;
    font-size: 14px;
}