* {
    padding: 0;
    margin: 0;
    font-family: Ubuntu;
}  

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #fff;
    justify-content: space-between;
}

header nav {
    margin-right: 20px; 
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: bold;
    margin-right: 40px;
}

header img {
    width: 100px;
    height: 80px;
    margin-left: 20px;
}

.nurse-patient-records-section, .doctor-patient-list-section {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.patient-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f7f7f7;
}

.patient-table th,
.patient-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.patient-table th {
    background-color: #e6e6e6;
    color: #4b4b4b;
    font-weight: bold;
}

.patient-table td img {
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 50px;
}

.patient-table td {
    color: #00008B;
}

.add-patient-btn {
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #00008B;
    color: white;
    border: none;
    cursor: pointer;
}

.add-patient-btn:hover {
    background-color: #3333cc;
}

#nurse-patient-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#nurse-patient-form input,
#nurse-patient-form select,
#nurse-patient-form button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#nurse-patient-form button {
    background-color: #00008B;
    color: white;
    cursor: pointer;
}

#nurse-patient-form button:hover {
    background-color: #3333cc;
}
