* {
    padding: 0;
    margin: 0;
    font-family: Ubuntu;
}  

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: #fff;
    justify-content: space-between;
}

header nav {
    margin-right: 20px; 
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: bold;
    margin-right: 40px;
}

header img {
    width: 100px;
    height: 80px;
    margin-left: 20px;
}

.SignUp-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    max-width: 400px;
    border: 2px solid;
    border-radius: 20px;
    padding: 60px;
}

/* Styling the form and its elements */
.SignUp-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    position: relative; /* Allows absolute positioning for icons */
}

.form-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px 10px 10px 35px; /* Space for the icon */
    border: 2px solid;
    border-radius: 10px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Dropdown style */
.user-selection-group {
    position: relative;
}

.user-selection-group::before {
    content: '\f0c0'; /* Font Awesome user icon */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.user-selection-group select {
    appearance: none;
    padding-right: 30px; /* Space for custom arrow */
    padding-left: 35px;
    border: 2px solid;
    border-radius: 5px;
}

/* Custom arrow for dropdown */
.user-selection-group::after {
    content: '\f078'; /* Font Awesome down arrow */
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    
}

/* Button styling */
button {
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Link styling */
p {
    text-align: center;
    margin-top: 10px;
}

p a {
    color: #4CAF50;
    text-decoration: none;
}